Package            Version
------------------ ---------
attrs              21.4.0
blis               0.7.7
catalogue          2.0.7
certifi            2021.10.8
charset-normalizer 2.0.12
click              8.0.4
coverage           6.3.2
cymem              2.0.6
en-core-web-sm     3.2.0
idna               3.3
iniconfig          1.1.1
Jinja2             3.1.1
langcodes          3.3.0
MarkupSafe         2.1.1
murmurhash         1.0.6
numpy              1.22.3
packaging          21.3
pandas             1.4.2
pathy              0.6.1
Pillow             9.1.0
pip                22.0.4
pkg_resources      0.0.0
pluggy             1.0.0
preshed            3.0.6
py                 1.11.0
pydantic           1.8.2
pyparsing          3.0.8
pytesseract        0.3.9
pytest             7.1.1
python-dateutil    2.8.2
pytz               2022.1
requests           2.27.1
setuptools         44.0.0
six                1.16.0
smart-open         5.2.1
spacy              3.2.4
spacy-legacy       3.0.9
spacy-loggers      1.0.2
srsly              2.4.3
thinc              8.0.15
tomli              2.0.1
tqdm               4.64.0
typer              0.4.1
typing_extensions  4.1.1
urllib3            1.26.9
wasabi             0.9.1
